﻿
@model OneMVC.Models.Person

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@{
    var greeting = "Welcome to Razor!!!";
    var weekDay = DateTime.Now.DayOfWeek;
    var greetingMessage = "hello";

    if (DateTime.Now.Second > 30)
    {
        greetingMessage = greeting + " Today is: " + weekDay;
    }
    else
    {
        greetingMessage = greeting + " WeekDay is: " + weekDay;
    }
}
<p>The greeting is: @greetingMessage</p>

    @*@Html.LabelFor(model => model.FirstName) <br />
    @Html.EditorFor(model => model.FirstName) <br />
    @Html.DisplayFor(model => model.FirstName)    <br />
    @Html.DisplayNameFor(model => model.FirstName)<br />
    @Html.ActionLink("this is a link", "ActionName")<br />
    @Html.TextAreaFor(model => model.FirstName ) <br />
    @Html.RadioButtonFor(model => model.IsAlive,true) <br />
    @Html.CheckBoxFor(model => model.IsAlive) <br />*@





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
