﻿@model FATOWeb.Models.FATO.FATOGrid

<div>
    <h4>FATOGridModel</h4>
    <hr />
    <table width="100%" class="display" id="example" cellspacing="0">
        <thead>
            <tr>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
                <td>Four</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Rows)
            {
                <tr>
                    <td>@r.One</td>
                    <td>@r.Two</td>
                    <td>@r.Three</td>
                    <td>@r.Four</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js "></script>
<script>
    //https://datatables.net/examples/basic_init/zero_configuration.html

    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>*@