﻿@model FATOWeb.Models.FATO.FATOCodeModel


    
    <div class="form-horizontal">
        <h4>FATOCodeModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DefectCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @* @Html.EditorFor(model => model.DefectCode, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.DefectCode, Model.DefectCodes, new { htmlAttributes = new { @class = "form-control" } })
 </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ActionCode, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.ActionCode, Model.ActionCodes, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>


