﻿@model FATOWeb.Models.FATO.FATOInputModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FATOInputModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GeoLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.GeoLocation, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.GeoLocation, Model.GeoLocations,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GeoLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkCenter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.WorkCenter, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.WorkCenter, Model.WorkCenters, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.WorkCenter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ScanType, new { htmlAttributes = new { @class = "form-control" } })*@

                <input type="radio" value="Serial", name="ScanType" checked="@(Model.ScanType == 1)" > Serial <br />
                <input type="radio" value="FIXED_ASSET_TAG"  name="ScanType" , checked="@(Model.ScanType == 2)"> FIXED_ASSET_TAG <br />
                <input type="radio" value="BCN" name="ScanType"  checked="@(Model.ScanType == 3)"> BCN <br />

           
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Search" class="btn btn-default" />*@
                <input type="button" id="Search" name="Search" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div id="fatodetails" >

    </div>

    <div id="fatocode">

    </div>

    <div id="bothdetailsandcode">

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script>
    $("#GeoLocation").change(function () {

        var url = '@Url.Content("~/")' + 'FATOMain/GetWorkCenters';
        $.getJSON(url, { id: $("#GeoLocation").val() }, function (data) {
            $("#WorkCenter").empty();
            $.each(data, function (index, item) {
                $("#WorkCenter").append("<option value=" + item.Value + ">" + item.Text + "</option>");
            });
        });
    }).change();

    $("#Search").click(function () {

       var url = '@Url.Content("~/")' + 'FATOMain/FATODetails';
        $.get(url, { id: $("#SerialNumber").val() }, function (partial) {
            $('#fatodetails').html(partial);
        });

        var url2 = '@Url.Content("~/")' + 'FATOMain/FATOCode';
        $.get(url2, { id: $("#SerialNumber").val() }, function (partial) {
            $('#fatocode').html(partial);
        });

       

        var url2 = '@Url.Content("~/")' + 'FATOMain/MoreThanOnePartialViews';
        $.get(url2, { id: $("#SerialNumber").val() }, function (partial) {
            $('#bothdetailsandcode').html(partial);

           $('#example').DataTable();
        });


        


    });
</script>